extends layout
block content
  h1= title
  p Welcome to #{title}
  

       
   form(id="formw" , method="POST",enctype="multipart/form-data",action="/")
        div
          span AbonadoId :
          input( type="text", name="abonado_id", id="addCommentPerson")
        div
          span alert type :
          input( type="text", name="alert_type_id", id="addCommentPerson")
        div
          span lat :
          input( type="text", name="latitude", id="addCommentPerson")
        div
          span long :
          input( type="text", name="longitude", id="addCommentPerson")
        div
          span Picture :
          input( type="text", name="picture", id="addCommentPerson")
          input(type="file", name="displayImage", id="addCommentPerson")  
        
        div#editArticleSubmit
          input(type="submit",id="save" ,value="Send")
          

   
  