extends layout
block content
  h1= title
  p

   div(id="map")
   script
      var map = L.mapbox.map('map', 'lnx1337.map-eu8sxqx2');
      
      
   button(id="refre")<i class="icon-group"></i> REFRESH  
   div(id="map_canvas" , style="width:100%; height:90%",class="element mapa")
   div(id="content",class="element information")


          


    
   
   
