extends layout
block content

  div(id="map")
  div(id="mapdos")
  script
      var map = L.mapbox.map('map', 'lnx1337.map-eu8sxqx2');
      
      function addMarker(json){
          alert(json.stringify);
          

          var f=json;
          var tam =f.length;
          var i=0;


      
          for(i=0;i<tam;i++){
            
           
              L.mapbox.markerLayer({
                  type: 'Feature',
                  geometry: {
                      type: 'Point',
                      coordinates: [f[i].longitude,f[i].latitude]
                  },
                  properties: {
                      title: 'A Single Marker',
                      description: 'Just one of me',
                      image: "http://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Cherry_Blossoms_and_Washington_Monument.jpg/320px-Cherry_Blossoms_and_Washington_Monument.jpg",
        "url": "http://en.wikipedia.org/wiki/Washington,_D.C.",
                      'marker-size': 'small',
                     
                  }
              }).addTo(map);
            }

          /* alert(f[i].latitude +);
            //
            //f[i].abonado_id
          */
           

        }


      addMarker(!{JSON.stringify(data)});
      map.setView([19.43267,-99.133269], 5);

  script
       var map = L.mapbox.map('mapdos', 'lnx1337.map-eu8sxqx2');
       map.setView([19.43267,-99.133269], 5);
                      
      
  div(id="content",class="element information")


          


    
   
   
