extends layout
block content

  div(id="map")
  div(id="mapdos")
  script
      var map = L.mapbox.map('map', 'lnx1337.map-eu8sxqx2');
      
      function addMarker(json){
          alert(json.stringify);
          

          var f=json;
          var tam =f.length;
          var i=0;
          var geoJson=new Array();

        
          for(i=0;i<tam;i++){
  
            geoJson[i]={type: 'Feature',"geometry": { "type": "Point", "coordinates": [f[i].longitude,f[i].latitude]},"properties": { "description":f[i].mediaDescription ,image": "/uploads/"+f[i].name+".png" ,"url": "http://en.wikipedia.org/wiki/Washington,_D.C.","marker-symbol": "star","city": f[i].descriptionAlert }}; 
           
          }
          alert(geoJson.length);


          map.markerLayer.on('layeradd', function(e) {
                  var marker = e.layer,
                      feature = marker.feature;
                      

                  // Create custom popup content
                  var popupContent =  '<h1>'+feature.properties.description+'</h1><a target="_blank" class="popup" href="' + feature.properties.url + '">' +
                                          '<img src="' + feature.properties.image + '">' +
                                      '   <h2>' + feature.properties.city + '</h2>' +
                                      '</a>';

                  // http://leafletjs.com/reference.html#popup
                  marker.bindPopup(popupContent,{
                      closeButton: false,
                      minWidth: 320
                  });
          });

          map.markerLayer.setGeoJSON(geoJson);
           

        }


      addMarker(!{JSON.stringify(data)});
      map.setView([19.43267,-99.133269], 5);

  script
       var map = L.mapbox.map('mapdos', 'lnx1337.map-eu8sxqx2');
       map.setView([19.43267,-99.133269], 5);
                      
      
  div(id="content",class="element information")


          


    
   
   
