extends layout
block content
  #map  
  #encabezado
      h5 CENTRO NACIONAL DE ATENCION BOTON DE PANICO MONITOREO DE ALERTAS
  #seccion1
     .area_media
        .usuarios
          .nombre 
          #coordenadas2 
     .area_media  
   
  #seccion2
      #area_entera  
  #mapdos  
  #menu
      .boton
        img(src='/images/uno.png', alt='' id="reset")
      .boton
        img(src='/images/dos.png', alt='')
      .boton
        img(src='/images/tres.png', alt='')
      .boton
        img(src='/images/cuatro.png', alt='')
      .boton
        img(src='/images/cinco.png', alt='')
  #coordenadas 20.385825,-99.404297
         

