doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://maps.google.com/maps/api/js?sensor=false')
    //script(src="/javascripts/photo_overlay.js")
    //script(src="http://lnx1337.cloudapp.net/socket.io/socket.io.js")
    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js")
    link(rel='stylesheet', href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css')


    

  body
    block content