
/* @font-face {font-family: "Square"; src: url('http://static.tumblr.com/npggxjg/6xJmfpwom/square.ttf'); } */
body { margin:0; padding:0; background-color: rgb(0,31,42); text-rendering: optimizelegibility; color: #8BA3AF;font-family: "Arial"; font-size: 14px; }
        #bar{  width: 100%; height:5%;   background-color: #000000 }
        #titulo { position: fixed; font-size: 8px; top:2; margin-left: 2%; }
        #reloj{position: fixed; top:0; margin-left:46%; font-size: 10px;}
        #logos{position: fixed; top:0; margin-left:91%; background-color: #FFFFFF}
        #menuleft {
            position: fixed;
            width: 19%;  height: 100%; 

        }

        #leftNav { opacity:0.8; float: right; width: 231px; border: 1px solid #c9c9c7; margin-bottom: 10px; font-family:Geneva, Arial, Helvetica, sans-serif;}
        #leftNav ul{margin:0px; padding:0px; width:30%;}
        #leftNav ul li{margin:0px; padding:0px; font-size:11px; height:24px; width:231px; border-bottom:1px solid #a7b4c3; float:left; list-style-type:none; background-color:rgb(7,7,21); border-top:1px solid #dbe3ec;}
        
        #leftNav ul li a{ text-decoration:none;padding-top:5px; height:19px; width:226px; text-indent:14px; background:#cad2df; color:#364e70; list-style-type:none; position:absolute;border-left:5px solid #828fa6;}
        #leftNav ul li a:hover{text-decoration:underline; font-weight:bold; padding-top:5px; height:19px; width:226px; background:#394a63; color:#cad2df; border-left:5px solid #1c3552;}
        #leftNav ul li img { width:30px; height: 30px; }
        .contnot{ position: absolute;}
        #screen_map { opacity:0.8; position: fixed; background-color:rgb(7,7,21); top:47%;   margin-left:25%;  width:47%; height:41% }
        #seccion1 { position:absolute; top:10%; margin-left:31%; width:17%; height: 40%; background-color: rgb(7,7,21); }
        #seccion2 { position:absolute; top:10%; margin-left:48%; width:17%; height: 40%; background-color: rgb(7,7,21); padding-bottom: 3px;}
        #mapdos   { position:fixed; top:50%; margin-left:66%; width:34%; bottom: -5%; margin-top: 6px;}
        #coordenadas{ opacity:0.8; position: fixed; background-color:rgb(7,7,21); width:15%; height:5%; display:inline-block; margin-left:49%; top:52%; font-size: 1.0em;  z-index:30;}
        .area_media {width:100%; height:50%; margin-right:3px; margin-left: 3px; }
        .area_media:nth-child(1) { background-color:rgb(19,25,36); margin-bottom: 3px;}
        .area_media:nth-child(2) { background-color:rgb(19,25,36); margin-bottom:3px;}
        #area_entera {width:100%; height:100%; margin-left: 1px; background-color:rgb(19,25,36); padding-bottom:3px;}
        h3 {font-family: 'Arial'; margin-top:1.5%; margin-left:1.5%; font-size: 17px; }
        #menu{background-color: black; opacity:0.8;  width:100%; height:7%; bottom:0; position: fixed;}
        .boton{ background-color:rgb(7,7,21); width:19.5%; height:60%; display:inline-block; margin-right:0px; margin-left:0px; color:#CEE9EA;}
        .nombre{ display:inline-block; font-size:0.9em;}
        .foto{ height:27%; display:inline-block;}
        #coordenadas2{ background-color:rgb(7,7,21); margin-bottom:0%; position:absolute;}
        .boton img { height:80%; margin-left:30%; margin-top:5%;}
        .popup { text-align: center; }
        .popup img { width: 10%; }